<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Allgold Supply Center</title>
	<link href= "{{url_for('.static', filename='css/main.css')}}" rel="stylesheet"  type="text/css" /> <!--../static/css/main.css-->
</head>
<body>
	<div class="div-center">
		<img src="{{url_for('.static', filename='resources/index_top_banner.jpg')}}" class="top-banner" width= "316" height="124" > <br>
		<img src="../static/resources/big_barn.jpg" class="big-barn" width= "296" height="150" > <br>
		
		<a href="{{url_for('geschaeftsfuehrer.home')}}">
			<button name="Geschäftsführer" type="submit" class="main-menu-button">
				<img src="{{url_for('.static', filename='resources/main_menu_button_gschF.jpg')}}" width="80" height="80" alt="submit" />
				<br>
				<b>Geschäftsführer</b>  <!-- text tarzi olusturulmali -->
			</button>
		</a>

		<a href="{{url_for('lieferant.home')}}">
			<button name="Lieferant" type="submit" class="main-menu-button">
				<img src="{{url_for('.static', filename='resources/main_menu_button_lieferant.jpg')}}" width="80" height="80" />
				<br>
				<b>Lieferant</b>  <!-- text tarzi olusturulmali -->
			</button>
		</a> 
		
		<a href="{{ url_for( 'verkaeufer.home' ) }}">
			<button name="Verkäufer" class="main-menu-button">
				<img src="{{url_for('.static', filename='resources/main_menu_button_verkauf.jpg')}}" width="80" height="80" />
				<br>
				<b>Verkäufer</b>  <!-- text tarzi olusturulmali -->
			</button>
		</a> <br>
		
		<img src="{{url_for('.static', filename='resources/buttom_banner.jpg')}}" width= "643" height="180" style= "margin-top: 180px">
	</div>
</body>
</html>