@charset "UTF-8";


.div-center{
  font-size: 12pt; /* 18 */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  width: 1200px;
  padding: 20px;  
  color: black;
  text-align: center;
}

button{
	margin-left:10px;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	border-radius: 12px;
	border: 2px solid;
}

.green-button{
	background-color: #D9FDD5;
	color: black;
	border-color: white;
	left: 50px;
}

.red-button{
	background-color: #FC8C8C;
	color: black;
	border-color: white;
}

.basic-button{
	/*display: inline-block;*/
	background-color: white;
	color: black;	
	border-color: black;
}


.red-button:hover{
	border: 2px solid black;
}

.green-button:hover{
	border: 2px solid black;
}

.basic-button:hover{
	border: 2px solid black;
	background-color: black;
	color: white;
}
.card-button:hover{
	background-color: black;
	color: white;
}

.top_banner{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.myflash {
    text-align: center;
    color: red;
    font-size: x-large;
 }



