<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Allgold Supply Center</title>
	<link href= "{{url_for('.static', filename='css/main.css')}}" rel="stylesheet"  type="text/css" />
  </head>
	<div class="div-center">
		<a href="{{url_for('index.home')}}">
			<img src="{{url_for('.static', filename='resources/index_top_banner.jpg')}}" class="top-banner" width= "316" height="124" >
		</a> <br> <br>
		<h1> Lieferung erfassen </h1>
		<form action = {{request.path}} method="post">
			<body>
				{% with messages = get_flashed_messages() %}
				   {% if messages %}
					{% for message in messages %}
						<div class="myflash">
							 <strong>{{ message }}</strong>
						 </div>
					{% endfor %}
				   {% endif %}
				 {% endwith %}
				<br>
	   	 	<label for="vkID">Verkaufsstellen ID: <br>
	   	 	<input type="text" id="vkID" name="vkID"></label><br>
	     	<br>
		     
	     	<label for="prID">Produkt ID:</label><br>
		     <input type="text" id="prID" name="prID"><br><br>
		
		     <label for="mg">Menge:</label><br>
		     <input type="text" id="mg" name="mg"><br><br>
		
		     <label for="lfDat">Lieferdatum:</label><br>
		     <input type="date" id="lfDat" name="lfDat"><br><br>
	
		 	<button class="green-button" style="margin-top: 30px;" type="submit">Erstellen</button>
		</form>
		<button class="red-button" style="margin-top: 30px;">
			<a href="{{url_for('lieferant.home')}}" style="text-decoration: none; color:black"> Abbrechen </a>
		</button>
	  </div>
</body>
</html>
