@charset "ISO-8859-1";

.div-center{
  font-size: 12pt; /* 18 */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  width: 1200px;
  padding: 20px;  
  color: black;
  text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
     padding: 15px;
     text-align: left;
}
.outter-box{
	border: 2px solid black;
	border-radius: 12px;
}
.card{
	display: inline-block;
	margin-left:10px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: left;
	width: auto;
	border: 2px solid black;
	border-radius: 12px;
}
button{
	margin-left:10px;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	border-radius: 12px;
	border: 2px solid;
}
.card-button{
	background-color: white;
	color: black;
	border-color: black;
}
.green-button{
	background-color: #D9FDD5;
	color: black;
	border-color: white;
	left: 50px;
}

.red-button{
	background-color: #FC8C8C;
	color: black;
	border-color: white;
}

.basic-button{
	/*display: inline-block;*/
	background-color: white;
	color: black;	
	border-color: black;
}

.orange-button{
	background-color: #DAA520;
	color: black;
	border-color: white;
}

.red-button:hover{
	border: 2px solid black;
}

.green-button:hover{
	border: 2px solid black;
}

.basic-button:hover{
	border: 2px solid black;
	background-color: black;
	color: white;
}
.card-button:hover{
	background-color: black;
	color: white;
}
.orange-button:hover{
	background-color: #F0E68C;
	border-color: black;
}
.top_banner{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.div-inline {  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-inline label {
  margin: 5px 10px 5px 0;
}

.div-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.div-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.div-inline button:hover {
  background-color: royalblue;
}

.burger-menu{
     position: relative;
}
.burger-menu #burger-menu{
    display: none;
}
.burger-menu a{
    border: #a9a9a9;
    padding: 10px;
    background-color: #a9a9a9;
}
.myflash {
    text-align: center;
    color: red;
    font-size: x-large;
 }

.mygoodflash {
    text-align: center;
    color: green;
    font-size: x-large;
 }




