@charset "ISO-8859-1";

.div-center{
  font-size: 18pt; /* 18 */
  display: inline-block;
  position: absolute;
  top: 10%;
  transform: translate(-50%);
  width: 1200px;
  padding: 20px;
  color: black;
  text-align: center;
}

.top_banner{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
     padding: 15px;
     text-align: left;
}