<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allgold Supply Center</title>
    <link href= "{{url_for('.static', filename='css/main.css')}}" rel="stylesheet"  type="text/css" />
  </head>
<body>
    <div class="div-center">
        <a href="{{url_for('index.home')}}">
			<img src="{{url_for('.static', filename='resources/index_top_banner.jpg')}}" class="top-banner" width= "316" height="124" >
		</a>
        <h1> Verkauferfassen </h1>
        <form action = {{request.path}} method="POST">
				{% with messages = get_flashed_messages() %}
				   {% if messages %}
					{% for message in messages %}
						<div class="myflash">
							 <strong>{{ message }}</strong>
						 </div>
					{% endfor %}
				   {% endif %}
				 {% endwith %}
             <label for="vkID">Verkaufsstellen ID:</label><br>
             <input type="text" id="vkID" name="vkID"><br><br>

             <label for="prID">Produkt ID:</label><br>
             <input type="text" id="prID" name="prID"><br><br>

             <label for="mg">Menge:</label><br>
             <input type="text" id="mg" name="mg"><br><br>

             <label for="vkDat">Verkaufsdatum:</label><br>
             <input type="date" id="vkDat" name="vkDat"><br><br>

			<button class="green-button" style="margin-top: 30px;" type="submit">Erfassen</button>
        </form>
        <button class="red-button" style="margin-top: 30px;">
            <a href="{{url_for('verkaeufer.home')}}" style="text-decoration: none; color:black"> Abbrechen </a>
        </button>
      </div>
</body>
</html>