<!DOCTYPE html>
<html>
   <head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Allgold Supply Center</title>
	<link href= "{{url_for('.static', filename='css/main.css')}}" rel="stylesheet"  type="text/css" /> <!--../static/css/main.css-->

    </head>
	<body>
		<div class="div-center">
			<a href="{{url_for('index.home')}}">
				<img src="{{url_for('.static', filename='resources/index_top_banner.jpg')}}" class="top-banner" width= "316" height="124" >
			</a>
			<h1 style="margin-top: 30px;">Verkaufsstelle Eröffnen</h1>
			<form action = {{request.path}} method = "POST">
				<div  class="div-inline">
					<div style="width: 200px">
						<label for="name">Name:</label>
						<input type="text" id="name" placeholder="Name eingeben" name="name">
						<label for="typ">Type:</label>
						<input type="text" id="typ" placeholder="Typ eingeben" name="typ">
						<!--<input type="text" id="id" placeholder="ID eingeben" name="id">
						<label for="typ">Typ:</label>-->
					</div>
					<div style="width: 200px">
						<label for="ort">Ort:</label>
						<input type="text" id="ort" placeholder="Ort eingeben" name="ort">
						<label for="plz">PLZ:</label>
						<input type="text" id="plz" placeholder="plz eingeben" name="plz">
						<label for="str">Straße:</label>
						<input type="text" id="str" placeholder="Straße eingeben" name="str">
						<label for="hnr">Hausnr:</label>
						<input type="text" id="hnr" placeholder="Hausnummer eingeben" name="hnr">
					</div>
					<div style="width: 200px">
						<label for="Beschreibung">Beschreibung:</label>
						<textarea id="Beschreibung" placeholder="Beschreibung eingeben" style="width:200px; height:200px" name="beschr"></textarea>
					</div>
				</div>
				<button style="margin-right: 250px" class="green-button" style="margin-top: 30px;" type="submit">Erstellen</button>
			</form>
			<button style="margin-left: 250px" class="red-button" style="margin-top: 30px;">
				<a href="{{url_for('geschaeftsfuehrer.home')}}" style="text-decoration: none; color:black"> Abbrechen </a>
			</button>
		</div>
	</body>
</html>
