<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Preisliste</title>
	<link href= "{{url_for('.static', filename='css/main.css')}}"  type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="div-center">
        <a href="{{url_for('index.home')}}">
            <img src="{{url_for('.static', filename='resources/index_top_banner.jpg')}}" class="top-banner" width= "316" height="124" >
        </a> <br> <br>
        <h1> Preisliste </h1>
        <table style="width:100%">
            <tr>
                <th>ProduktID</th>
                <th>Name</th>
                <th>Preis</th>
                <th>Verfallsdatum</th>

            </tr>
            {% for produkt in alleProdukte %}
            <tr>
                <th>{{produkt.produktID}}</th>
                <th>{{produkt.name}}</th>
                <th>{{produkt.preis}}</th>
                <th>{{produkt.verfallsDatum}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>



</body>
</html>