<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allgold Supply Center</title>
    <link href= "{{url_for('.static', filename='css/main.css')}}" rel="stylesheet"  type="text/css" />
  </head>
<body>
    <div class="div-center">
        <a href="{{url_for('index.home')}}">
			<img src="{{url_for('.static', filename='resources/index_top_banner.jpg')}}" class="top-banner" width= "316" height="124" >
		</a>
        <h1> Produkt in das Sortiment aufnehmen </h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="myflash">
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action = {{request.path}} method="POST">

             <label for="name">Produkt Name:</label><br>
             <input type="text" id="name" name="name"><br><br>

             <label for="preis">Preis:</label><br>
             <input type="text" id="preis" name="preis"><br><br>

             <label for="vrDat">Verfallsdatum:</label><br>
             <input type="date" id="vrDat" name="vrDat"><br><br>

			<button class="green-button" style="margin-top: 30px;" type="submit">Erfassen</button>
        </form>
        <button class="red-button" style="margin-top: 30px;">
            <a href="{{url_for('geschaeftsfuehrer.home')}}" style="text-decoration: none; color:black"> Abbrechen </a>
        </button>
      </div>
</body>
</html>