<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Allgold Supply Center</title>
	<link href= "{{url_for('.static', filename='css/main.css')}}"  type="text/css" rel="stylesheet"/> <!--../static/css/main.css-->
	<script src= "{{url_for('.static', filename='js/main.js')}}"  type="text/javascript"> </script>
</head>
<body>

	<div class="div-center">

		<a href="{{url_for('index.home')}}">
			<img src="{{url_for('.static', filename='resources/index_top_banner.jpg')}}" class="top-banner" width= "316" height="124" >
		</a> <br> <br>

		<div class="burger-menu">
			<button class="card-button" href="javascript:void(0);" onclick="toggleBurgerMenu()">Dokumente</button>
			<div id="burger-menu">
				<a href="{{url_for('geschaeftsfuehrer.liste', typ = 'preisliste')}}"> preisliste html</a>
				<a href="{{url_for('geschaeftsfuehrer.createPDF',typ = 'preisliste', verkaufstelleID = '0')}}"> preisliste pdf </a>
				<a href="{{url_for('geschaeftsfuehrer.liste', typ = 'lieferungen')}}"> lieferungen html</a>
				<a href="{{url_for('geschaeftsfuehrer.createPDF',typ = 'lieferungen', verkaufstelleID = '0')}}"> lieferungen pdf </a>
			</div>
		</div>
		<a href="{{url_for('geschaeftsfuehrer.neuProd')}}"> <button class="basic-button"> Produkt in das Sortiment aufnehmen </button></a>
		<div id="liste" class="outter-box">
			<h2>Verkaufsstellen</h2>  <!--  Cards created here -->
				<div class = "card">
					<b>Name: </b><b id="name">{{verkaufstelle.name}}</b> <br>
					<b>ID: {{verkaufstelle.verkaufstelleID}}</b> <br>
					<a href="{{url_for('geschaeftsfuehrer.uebersicht', verkaufstelleID = verkaufstelle.verkaufstelleID)}}"> <button class="card-button"> Uebersicht </button> </a>
					<a> <button class="card-button"> Verkaufszahlen </button> </a>
					<a href="{{url_for('geschaeftsfuehrer.createPDF',typ = 'inventar', verkaufstelleID = verkaufstelle.verkaufstelleID)}}"> <button class="card-button"> Inventarbestand </button> </a>
				</div>
		</div>
		<a href="{{url_for('geschaeftsfuehrer.home')}}">
			<button class="basic-button">
				<b>Alle Verkaufstellen</b>  <!-- text tarzi olusturulmali -->
			</button>
		</a>
		<a href="{{url_for('geschaeftsfuehrer.neuVerkaufStelle')}}">
			<button class="basic-button">
				<b>neue Verkaufsstelle</b>  <!-- text tarzi olusturulmali -->
			</button>
		</a>
	</div>

</body>
</html>