<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Allgold Supply Center</title>
	<link href= "{{url_for('.static', filename='css/main.css')}}" rel="stylesheet"  type="text/css" /> <!--../static/css/main.css-->
</head>
	<body>
		<div class="div-center">
			<a href="{{url_for('index.home')}}">
			<img src="{{url_for('.static', filename='resources/index_top_banner.jpg')}}" class="top-banner" width= "316" height="124" >
			</a> <br> <br>
			
			<h1 style="margin-top: 30px;">Verkaufsstellen Übersicht</h1>
			<a href="{{url_for('geschaeftsfuehrer.home')}}">
				<button class="basic-button" style="margin-top: 10px; margin-bottom: 10px;">Zurück zur Liste</button>
			</a>
			<form>
				<div  class="div-inline">
					<div style="width: 200px">
						<label for="name">Name:</label>
						<input type="text" id="name" placeholder="{{verkaufstelle.name}}" name="name">
						<label for="id">ID:</label>
						<input type="text" id="id" placeholder="{{verkaufstelle.verkaufstelleID}}" name="id">
						<label for="typ">Typ:</label>
						<input type="text" id="typ" placeholder="{{verkaufstelle.typ}}" name="typ">
					</div>
					<div style="width: 200px">
						<label for="ort">Ort:</label>
						<input type="text" id="ort" placeholder="{{adresse.ort}}" name="pswd">
						<label for="plz">PLZ:</label>
						<input type="text" id="plz" placeholder="{{adresse.plz}}" name="plz">
						<label for="str">Straße:</label>
						<input type="text" id="str" placeholder="{{adresse.strasse}}" name="str">
						<label for="hnr">Hausnr:</label>
						<input type="text" id="hnr" placeholder="{{adresse.hausNR}}" name="hnr">
					</div>
					<div style="width: 200px">
						<label for="Beschreibung">Beschreibung:</label>
						<textarea id="Beschreibung" placeholder="{{adresse.beschreibung}}" style="width: 200px; height: 200px"></textarea>
					</div>
				</div>								
			</form>
			<a href="{{url_for('geschaeftsfuehrer.bearbeiten',verkaufstelleID = verkaufstelle.verkaufstelleID )}}">
				<button class="green-button" style="margin-top: 30px;">Bearbeiten</button>
			</a>
		</div>
	</body>
</html>
