<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Preisliste</title>
	<link href= "C:\Users\arifc\Desktop\SS21\ITT\projRepo\Allgold-Molkerei-main_pages\allgold-molkerei\geschaeftsfuehrer\static\css\pdf.css"  type="text/css" rel="stylesheet"/> <!--../static/css/main.css-->
</head>
<body>
    <div class="div-center">

        <img src="C:\Users\arifc\Desktop\SS21\ITT\projRepo\Allgold-Molkerei-main_pages\allgold-molkerei\geschaeftsfuehrer\static\resources\index_top_banner.jpg" class="top-banner" width= "632" height="248" >

        <h1> {{ verkstl.name }} Verkaufzahlen </h1>
        <table style="width:100%">
            <tr>
                <th>VerkaufID</th>
                <th>Datum </th>
                <th>Menge</th>
                <th>ProduktName</th>
                <th>produktID</th>
                <th>verkaufstelleID</th>
                <th>Verkaufstelle Name</th>
            </tr>
            {% for verkauf in verkaufen %}
            <tr>
                <td>{{verkauf.verkaufID}}</td>
                <td>{{verkauf.verkaufDatum}}</td>
                <td>{{verkauf.verkaufMenge}}</td>
                <td>{{verkauf.verkaufProduktName}}</td>
                <td>{{verkauf.produktID}}</td>
                <td>{{verkstl.verkaufstelleID}}</td>
                <td>{{verkstl.name}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>



</body>
</html>